body{
    height: 58.875rem;
    width: 43.438rem;
    margin-left: auto;
    margin-right: auto;
    font-family:Arial, Helvetica, sans-serif;
}
.dark{
    background-color: #222;
    color: white;
}
#textspace{
    line-height: 0.313rem;
}
.name{
    color:orange;
    font-weight: bold;
}
.right{
    float:right;
}
.gras{
    font-weight:bold;
}
.minus{
    font-size:small;
}
.job{
    color: orange;
    text-align: center;
    line-height: 1.25rem;
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
    font-size:1.563rem;
}
.qualite{
    color: orange;
    text-align: center;
    line-height: 1.25rem;
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
    font-size:1.375rem;
}
#stagetitle{
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    border:solid black;
    background-color:gray;
    color: white;
}

.testsize{
    margin-top: -1.75rem;
}
.stage{
    position:relative;
    left:6.875rem;
}
.stage2{
    position: relative;
    left:5.5rem;
}
.liste{
    position: relative;
    font-size:0.875rem;
    left:11.875rem;
    top:-1.125rem;

}
#formationtitle{
    margin-top: -1.563rem;
    margin-bottom: 1.25rem;
    border:solid black;
    background-color:gray;
    color: white;
}
.formation{
    left:7.438rem;
}
.formation2{
    left:6.813rem;
}
.formasize{
    margin-top:-0.625rem
}
#languetitle{
    border:solid black;
    background-color:gray;
    color: white;
    margin-top: -0.625rem;
    margin-bottom: -0.313rem;
}
.loisirtitle{
    left:18.75rem
}
.langue{
    left:3.438rem
}
.loisir{
    left: 11.563rem
}
.school{
    left: 9.063rem
}